{% extends "base.html" %}

{% block status %}{{ articles|length }} post{{ articles|length != 1 and "s" or "" }}{% endblock %}

{% block content %}
  <h1>{{ SITENAME }}</h1>

  <section class="post-list">
    {% if articles %}
      <ul>
        {% for article in articles %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No posts yet.</p>
    {% endif %}
  </section>
{% endblock %}
